NODE_ENV=development
TZ=Asia/Dhaka

MCP_PORT=3000
REST_PORT=4000
SSE_PORT=5000

# TRANSPORT=http
# TRANSPORT=stdio
TRANSPORT=dev

DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=your_password
DB_NAME=your_database